<%#-*- coding: utf-8 -*-%>

<html lang="ja">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="default.css">
	<title>サンプルプログラム</title>
</head>

<body>
	<h1>データの登録完了</h1>
	<p><a href="index.html">処理メニューに戻る</a></p>
	<br>
	<div class="entryok">
		<p>データを登録しました</p>
	</div>
</body>
</html>